@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box; /* Asegura que padding y border están incluidos en el ancho */
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal en cualquier caso */
}

.authenticity_section {
    font-size: 20px;
    color: black;
}

.autenticidad_title {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 500;
    text-align: center; /* Centrar título para evitar desbordamientos por padding/margin */
}

.texto_autenticidad {
    width: 100%;
    padding-left: 5%;  /* Ajustado para ser menos intrusivo */
    padding-right: 5%;  /* Ajustado para ser menos intrusivo */
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.texto_autenticidad_p {
    padding-top: 30px;
}

.imagen_legit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.authentic {
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.autenticidad_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.autenticidad_container2 {
    width: 500px; /* Considera usar max-width para adaptabilidad */
    height: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 10px) no-repeat,
                linear-gradient(90deg, #dc27a7 0%, #0800ff 100%);
    border-radius: 0px;
    padding: 9px;
    box-shadow: 10px 10px 10px;
}

.autenticidad_container2_title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px;
    font-size: 32px;
}

.texto_container2 {
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 650px) {
    .autenticidad_container {
        padding: 0px 20px;
    }
    .autenticidad_container2 {
        width: 100%; /* Asegura que no sobrepase los límites en pantallas pequeñas */
        height: auto;
        padding-bottom: 50px;
        margin: 10px 0px;
    }
    .texto_autenticidad {
        padding-left: 5%;  /* Ajustado para pantallas pequeñas */
        padding-right: 5%; /* Ajustado para pantallas pequeñas */
    }
}
