@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box; /* Asegura que padding y border están incluidos en el ancho */
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal en cualquier caso */
}


.autenticidad_title {
    display: flex;
    font-family: "Bebas Neue", sans-serif;
    margin: 100px 0px 0px 0px;
    font-size: 2em;
    font-weight: 100;
    width: 10em;
    height: auto;
    color: rgb(255, 221, 2);
    justify-content: center;
    align-items: center;
    animation: vibration 4s infinite;
    background: rgb(0,0,0);
}

.autenticidad_title label{
    color: red;
    font-size: 60px;
    font-weight: 900;
    margin: 0px 10px 0px 5px;
}

@keyframes vibration {
    0% { transform: translateX(0) translateY(0); box-shadow: 0 0 10px rgb(242, 255, 0); }
    25% { transform: translateX(-5px) translateY(-5px); box-shadow: -5px -5px 10px rgb(255, 242, 0); }
    50% { transform: translateX(5px) translateY(5px); box-shadow: 5px 5px 10px rgb(255, 0, 0); }
    75% { transform: translateX(-5px) translateY(-5px); box-shadow: -5px -5px 10px rgb(161, 0, 254); }
    100% { transform: translateX(0) translateY(0); box-shadow: 0 0 10px rgb(166, 0, 255); }
}

.rarete{
    height: 65px;
    width: 65px;
    justify-self: center;
}

.texto_autenticidad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    font-family: "Inter", sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 36%, rgba(136,0,255,1) 100%);
}

.texto_autenticidad_p {
    padding: 5% 10% 5% 10%;
    color: white;
    text-align: justify;
    font-size: 18px;
}
.imagen_legit img:hover,
.imagen_legit div:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
    
.imagen_legit {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-auto-flow: dense;
    grid-auto-rows: 450px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 50px;
}

.imagen_legit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.imagen_legit div {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    border: 2px solid rgb(255, 221, 0);
    border-radius: 15px;
    animation: border-animation 2s infinite;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authentic_2 h1{
    font-size: 40px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    color: #fc5d00;
}

.authentic_5 h1{
    font-size: 40px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    color: #0022fc;
}

.authentic_6 h1{
    font-size: 40px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    color: #3fc800;
}

.authentic_2 p,
.authentic_5 p,
.authentic_6 p{
    font-size: 20px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}  




@keyframes border-animation {
    0% { border: 2px solid rgb(255, 221, 0); }
    50% { border: 2px solid rgb(187, 0, 255); }
    100% { border: 2px solid rgb(255, 221, 0); }
}