@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box; /* Asegura que padding y border están incluidos en el ancho */
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal en cualquier caso */
}


.autenticidad_title {
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    margin: 100px 0px 0px 0px;
    font-size: 50px;
    font-weight: 100;
    color: rgb(255, 221, 2);
    text-align:center;
}

.texto_autenticidad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-family: "Inter", sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 36%, rgba(136,0,255,1) 100%);
}

.texto_autenticidad_p {
    padding: 10px 200px 50px 200px;
    color: white;
    text-align: justify;
    font-size: 18px;
}

.imagen_legit {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
    gap: 20px 20px;
    height: 1200px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.authentic {
    width: 100%;
    height: auto;
    border-radius: 15px;
    align-self: end;
}


.autenticidad_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.autenticidad_container2 {
    width: 500px; /* Considera usar max-width para adaptabilidad */
    height: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px;
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 10px) no-repeat,
                linear-gradient(90deg, #dc27a7 0%, #0800ff 100%);
    border-radius: 0px;
    padding: 9px;
    box-shadow: 10px 10px 10px;
}

.autenticidad_container2_title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px;
    font-size: 32px;
}

.texto_container2 {
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 650px) {
    .autenticidad_container {
        padding: 0px 20px;
    }
    .autenticidad_container2 {
        width: 100%; /* Asegura que no sobrepase los límites en pantallas pequeñas */
        height: auto;
        padding-bottom: 50px;
        margin: 10px 0px;
    }
    .texto_autenticidad {
        padding-left: 5%;  /* Ajustado para pantallas pequeñas */
        padding-right: 5%; /* Ajustado para pantallas pequeñas */
    }
}
