<app-navbar></app-navbar>

<!-- Sección de autenticidad -->
<div class="authenticity_section">

    <!-- Texto -->
    <div class="texto_autenticidad">
        <div>
            <div class="autenticidad_title">Fake sneakers
                <label>!</label>
                <img src="./../../../assets/rarete.png" alt="" class="rarete">
            </div>
            <p class="texto_autenticidad_p">
                We can assure you that <b>all the products available at Got'em are 100% authentic.</b> All our products are already verified by us, before uploaded to the site. This result in all shoes in stock being "ready to ship".
                Say goodbye to long waiting times, and receive your sneakers faster. Our team of expert authenticators uses a multi-step verification procedure that includes, but not limited to, condition, construction and packaging.
            </p>
        </div>
            <!-- Imagen -->
        <div class="imagen_legit">
            <img class="authentic_1" src="./../../../assets/auth.jpg" alt="">
            <div class="authentic_2">
               <h1>Construction</h1>
               <p>
                    Our team goes through the construction from the outside to the inside. 
                    We analyze everything from Stiching to the materials. 
                    The shoe is also checked under a black light.
               </p>
            </div>
            <img class="authentic_3" src="./../../../assets/ver.jpg" alt="">
            <div class="authentic_5">
                <h1>Condition</h1>
                <p>
                    We look through the shoes for wear and tear, both the shoe and box is checked. 
                    We mostly sell deadstock items, but also allow the options for people to sell their used shoes at our in-store location, if we find it suitable for our store. 
                    If a shoe is used, it will affect the pricing, and you will see the tag "used".
                </p>
             </div>
            <img class="authentic_3" src="./../../../assets/verified.webp" alt="">
            <img class="authentic_4" src="./../../../assets/authentic.jpg" alt="">
            <div class="authentic_6">
                <h1>Quality Assurance</h1>
                <p>
                    Shopping at Got'em is a quality assurance, that you shoes are 100% legit and in pristine condition. 
                    We guarantee the authenticity of each pair sold at our store.
                </p>
             </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
