<app-navbar></app-navbar>



<!-- Panel de login -->
<section class="container">
    <div class="wrapper">
        <form class="form" [formGroup]="formReg" (ngSubmit)="onSubmit()">
            <!-- Título del panel -->
            <h1>Register</h1>

            <!-- Input del username -->
            <div class="input_box">
                <input type="text" placeholder="Username" formControlName="user" required minlength="4">
                <i class='bx bxs-user' ></i>
                <div class="alert" *ngIf="formReg.get('user')?.errors?.['required']">Name is required.</div>
                <div class="alert" *ngIf="formReg.get('user')?.errors?.['minlength']">
                    Name must be at least 4 characters long.
                </div>
            </div>            
     

            <!-- Input del email -->
            <div class="input_box">
                <input type="text" placeholder="Email address" formControlName="email">
                <i class='bx bx-envelope' ></i>
                <div class="alert" *ngIf="formReg.get('email')?.errors?.['required']">Email is required.</div>
                <div class="alert"*ngIf="formReg.get('email')?.errors?.['email']">
                    Email must be a valid email address.
                </div>
            </div>

            <!-- Input de password -->
            <div class="input_box">
                <input type="password" placeholder="password" formControlName="password">
                <i class='bx bxs-lock-alt' ></i>
                <div class="alert" *ngIf="formReg.get('password')?.errors?.['required']">Password is required.</div>
                <div class="alert" *ngIf="formReg.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                <div class="alert" *ngIf="formReg.get('password')?.errors?.['pattern']">
                    The password must contain at least one uppercase letter, one lowercase letter and one number.
                </div>
            </div>

            <!-- Input de password -->
            <div class="input_box">
                <input type="password" placeholder="Confirm password" formControlName="password2">
                <i class='bx bxs-lock-alt' ></i>
                <div class="alert" *ngIf="formReg.get('password2')?.errors?.['required']">Password confirmation is required.</div>
                <div class="alert" *ngIf="formReg.hasError('passwordMismatch') && (formReg.get('password2')?.dirty || formReg.get('password2')?.touched)">
                    Passwords don't match.
                </div>            
            </div>


            <!-- Botón de sign in -->
            <button type="submit" class="btn" [disabled]="!formReg.valid">Sign in</button>            
        </form>
    </div>
</section>

<app-footer></app-footer>
