<!-- Buy template -->
<div id="general">
  <template id="buy_template">
    <div class="buy-container">
        <div class="img-container">
          <img src="" alt="" id="product_img">
        </div>
        <div class="info-container">
          <div class="info-product">
            <p class="shoe-name" id="shoe-name"></p>
            <p class="branch">NIKE</p>
            <p class="details">The Nike Dunk sneakers are a classic silhouette with a modern twist. Featuring a durable leather upper and a cushioned midsole, these sneakers provide comfort and style for everyday wear. The iconic Nike Swoosh logo adorns the sides, while the padded collar and tongue offer added support. Whether you're hitting the streets or just hanging out, these kicks will elevate your look.</p>
            <p class="size">Size (EU):</p>
          </div>
          <div class="tallas-contenedor">
            <button class="btn-talla">40</button>
          </div>
          <div class="product-footer">
            <p class="price" id="price"></p>
            <button class="add-to-cart">Add to cart</button>
          </div>
        </div>
    </div>
  </template>
</div>