<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Got'em</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="../styles.css">
    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Scripts for Buy section-->
    <script src="../script.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</head>
<body>
  <!-- Navbar de la web -->
  <header id="menu"></header>
  <div id="body_section"></div>
  <footer id="footer_end"></footer>
  <script>
        /* Función que carga los componentes del Buy.html
        Primero se carga el header, luego el body con las funciones
        'cargarBuy()' y 'elegirTalla()' y por último, el footer. */
        document.addEventListener("DOMContentLoaded", function() {
            cargarContenido('/components/Navbar.html','menu');
            cargarContenido('/components/Buy-temp.html','body_section')
                .then(() => {
                    cargarBuy();
                    elegirTalla();
                    añadirCarrito();
                })
                .catch(error => {
                    console.error('Error al cargar el contenido:', error);
                });
            cargarContenido('/components/Footer.html','footer_end');
        });
  </script>
  <script defer src="../js/buy.js"></script>
</body>
</html>