<!DOCTYPE html5>
<div class="general">
    <div class="product-card">
   
       <div class="product-img">
         <img src="/images/dunks/dunk_blue-removebg-preview.png" alt="force" class="force" id="mainImage">
   
         <div class="thumbnail">
           <!-- <button id="prev"><i class="fas fa-arrow-left"></i></button> -->
   
           <img src="/images/dunks/dunk_green-Photoroom.png-Photoroom.png" class="force1" onclick="changeImage('/images/dunks/dunk_green-Photoroom.png-Photoroom.png')" alt="">
           <img src="/images/dunks/dunk_blue-removebg-preview.png" class="force2" onclick="changeImage('/images/dunks/dunk_blue-removebg-preview.png')" alt="">
   
           <!-- <button id="next"><i class="fas fa-arrow-right"></i></button> -->
         </div>
       </div>
   
       <div class="product-info">
         
         <p class="shoe-name">Dunk Blue</p>
   
         <p class="branch">NIKE</p>
   
         <p class="details">The Nike Dunk Blue sneakers are a classic silhouette with a modern twist. Featuring a durable leather upper and a cushioned midsole, these sneakers provide comfort and style for everyday wear. The iconic Nike Swoosh logo adorns the sides, while the padded collar and tongue offer added support. Whether you're hitting the streets or just hanging out, these kicks will elevate your look.</p>
   
         <p class="size">Size (EU): Select</p>
   
         <template id="templateTalla">
           <button class="btn-talla">Talla</button>
         </template>
         
         <div class="tallas-contenedor"></div>
   
         <div class="product-footer">
           <p class="price">500€</p>
   
           <button class="add-to-cart">Add to cart</button>
         </div>
       </div>
         
     </div>
</div>