<div class="check_out_container">
    <div class="shopping_list">
        <h1>Shopping List</h1>
        <div class="cart_elements">
            <div class=cart_item_section>
                <div class="contenedor_imagen">
                    <img class="imagen_ejemplo" src="/images/air-force.png" alt="">
                </div>
                <div class="info">
                    <p> Airforce 1 <br>
                    Shoes <br>
                    Size 42 </p>
                </div>
                
                <div class="mas-menos">
                    <button type="button">-</button>   3  
                    <button type="button">+</button>
                </div>
                <div class="precio">
                    <p> 119,99$ </p>
                </div>
                <div class="eliminar">
                    <button type="button">x</button>
                </div>
            </div> 
            <div class=cart_item_section>
                <div class="contenedor_imagen">
                    <img class="imagen_ejemplo" src="/images/air-force-1-07-zapatillas-HvZlfx.png" alt="">
                </div>
                <div class="info">
                    <p> Airforce 1 '07 <br>
                    Shoes <br>
                    Size 45 </p>
                </div>
                
                <div class="mas-menos">
                    <button type="button">-</button>   1  
                    <button type="button">+</button>
                </div>
                <div class="precio">
                    <p> 129,99$ </p>
                </div>
                <div class="eliminar">
                    <button type="button">x</button>
                </div>
            </div> 
            <div class=cart_item_section>
                <div class="contenedor_imagen">
                    <img class="imagen_ejemplo" src="/images/air-force-1-07-zapatillas-HvZlfx.png" alt="">
                </div>
                <div class="info">
                    <p> Air Jordan 1 Mid SE <br>
                    Shoes <br>
                    Size 44 </p>
                </div>
                
                <div class="mas-menos">
                    <button type="button">-</button>   1  
                    <button type="button">+</button>
                </div>
                <div class="precio">
                    <p> 89,99$ </p>
                </div>
                <div class="eliminar">
                    <button type="button">x</button>
                </div>
            </div>  
        </div>

        <div class ="total">
            <h3>Total: 1000$</h3>
        </div>
    </div>
    <div class="card_details">
        <h1>Cart Details</h1>
        
        <div class="form">
            <div class="card">
                <img class="imagen1" src="/images/air-force-1-07-zapatillas-HvZlfx.png" alt="">
            </div>
            <div class="input-text">
                <input type="text" placeholder="Card number" required>
            </div>
            <div class="input-text">
                <input type="text" placeholder="Cardholder" required>
            </div>
            

            <select name="Month" id="month" title="select">
                <option value="" disabled selected>Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
            </select>

            <select name="Year" id="year" title="select">
                <option value="" disabled selected>Year</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
            <div class="input-text-check_out">
                <input type="text" placeholder="Security Code" required>
            </div>
            <button type="submit" class="pagar">Complete the payment</button>
        </div>
        
    </div>
</div>