<!-- Footer de la web -->
    
<div class="ft">
    <div class="footer-col-contact">
        <h4 class="footer-col-media-title">Contact us</h4>
        <ul class="contact-section">
            <li class="contact-section-row">infoshop@gotem.com</li>
            <li class="contact-section-row">+34 928 77 88 99</li>
            <li class="contact-section-row">Las Palmas de Gran Canaria</li>
        </ul>
    
    </div>
    <div class="footer-col-media">
        <h4 class="footer-col-media-title">Social</h4>
        <ul class="media-section">
            <li class="media-logo"><i class='bx bxl-instagram'></i></li>
            <li class="media-logo"><i class='bx bxl-whatsapp'></i></li>
            <li class="media-logo"><i class='bx bxl-twitter' ></i></li>
        </ul>
    </div>
    <div class="footer-col-logo">
        <img class="footer-image" src="../images/fotos/logo.jpg" alt="">
    </div>
</div>
<div class="end">
    <i class='bx bxl-paypal' style='color:#fdfdfd'  ></i>
    <i class='bx bxl-mastercard' style='color:#fdfdfd' ></i>
    <i class='bx bxl-visa' style='color:#fdfdfd' ></i>
    <h4><i class='bx bx-copyright' style='color:#fdfdfd' ></i> 2024, Got'em Copyright </h4>
</div>