<!-- Panel de login -->
<section class="container">
    <div class="wrapper">
        <form action="" class="form">
            <!-- Título del panel -->
            <h1>Reset password</h1>

            <!-- Input del username -->
            <div class="input_box">
                <input type="text" placeholder="Email Address" required>
                <i class='bx bx-envelope'></i>
            </div>
            
            <!-- Botón de login -->
            <button type="submit" class="btn">Send link</button>
        </form>
    </div>
</section>