<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Got'em</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="../styles.css">

    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Scripts for Checkout Section -->
    <script src="../script.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <!-- Panel de login -->
    <section class="container">
        <div class="wrapper">
            <form action="" class="form" method="POST" id="form">
                <!-- Título del panel -->
                <h1>Register</h1>

                <!-- Input del username -->
                <div class="input_box">
                    <input type="text" id="userName" placeholder="Username" required>
                    <i class='bx bxs-user' ></i>
                </div>            

                <!-- Input del email -->
                <div class="input_box">
                    <input type="text" id= mail placeholder="Email address" required>
                    <i class='bx bx-envelope' ></i>
                </div>

                <!-- Input de password -->
                <div class="input_box">
                    <input type="password" id="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>

                <!-- Input de password -->
                <div class="input_box">
                    <input type="password" id="confirmPassword" placeholder="Confirm password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>


                <!-- Botón de sign in -->
                <p class="warnings" id="warnings"></p>
                <button type="submit" class="btn">Sign in</button>
                
            </form>
        </div>
    </section>
    <script src="../js/register.js"></script>
</body>
</html>
