<div class="snk-branchs" id="snk-branchs"></div>
<div class="snk_container" id="snk_container">
    <template id="product-template">
        <div class="product-card-sneaker" id="card_sneaker">
            <div class="product-image-sneaker">
                <img src="" alt="Imagen del producto" class="sneaker-card">
            </div>
            <div class="snk-info">
                <p class="snk-name"></p>
                <p class="snk-price"></p>
                <button class="snk-cart" onclick="cargarContenido('/components/Buy.html', 'body_section')">Buy Product</button>
            </div>
        </div>
    </template>
</div>


<div class="pagination">
    <button>&lt;</button>
    <button>1</button>
    <button>2</button>
    <button>&gt;</button>
</div>