<div class="snk-branchs"></div>

<div class="product-container"></div>

<template id="product-template">
    <div class="product-card-sneaker">
        <div class="product-image-sneaker">
            <img src="" alt="Imagen del producto" class="sneaker-card">
        </div>
        <div class="snk-info">
            <p class="snk-name"></p>
            <button class="snk-cart">Buy Product</button>
        </div>
    </div>
</template>

<div class="pagination">
    <button>&lt;</button>
    <button>1</button>
    <button>2</button>
    <button>&gt;</button>
</div>
