<app-navbar></app-navbar>

<!-- Panel de login -->
<section class="container">
    <div class="wrapper">
        <form action="" class="form">
            <!-- Título del panel -->
            <h1>Register</h1>

            <!-- Input del username -->
            <div class="input_box">
                <input type="text" placeholder="Username" required>
                <i class='bx bxs-user' ></i>
            </div>            

            <!-- Input del email -->
            <div class="input_box">
                <input type="text" placeholder="Email address" required>
                <i class='bx bx-envelope' ></i>
            </div>

            <!-- Input de password -->
            <div class="input_box">
                <input type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <!-- Input de password -->
            <div class="input_box">
                <input type="password" placeholder="Confirm password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>


            <!-- Botón de sign in -->
            <button type="submit" class="btn">Sign in</button>
        </form>
    </div>
</section>

<app-footer></app-footer>
