@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* Previene desplazamiento horizontal en todo el documento */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que padding y borders estén incluidos en el ancho definido */
}

.home_intro {
  height: 1000px;
  background-image: url(../../assets/images/home.jpg);
  background-position: center;
  background-size: cover;
}

.home_text {
  color: white;
  font-size: 65px;
  width: 600px;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 80px;
  padding-left: 100px;
  box-sizing: border-box; /* Incluye el padding en el ancho definido */
  animation: agrandar 2s infinite alternate;
  margin: 0;
}

.home-img{
    width: 500px;
    height: 500px;
    margin: 20px;

}

.home-img img{
    border-radius: 20px;
}
ion-toolbar{
    --background: rgb(0, 0, 0);
}
ion-button{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 47);
    border-radius: 10px;
    width: 225px;
    height: 40px;
}

@keyframes agrandar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.home_text label {
  display: flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
}

.home_images {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.gotem_home {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-family: "Inter";
  box-sizing: border-box;
}

.gotem_home p {
  padding: 100px 10%;
}

.container_home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.home_imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.home_imagen:hover {
  transform: scale(1.01);
}

.home_imagen:hover .marca {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.img_marca {
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.marca {
  height: 100%;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  font-family: "Bebas Neue";
  visibility: hidden;
  position: absolute;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.why_text{
  height: 50px;
  width: 600px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

}

.why_text p{
  font-size: 20px;
  font-family: "Inter";
  overflow: hidden; /* Evita que el texto se muestre al principio */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  margin: 0 auto; /* Centra el texto */
  animation: typing 5s steps(30, end) infinite; /* Aplica la animación */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% } /* Animación de escritura para el texto */
}

.why_buy {

  background: linear-gradient(85deg, rgba(0,9,255,1) 0%, rgba(0,0,0,1) 100%);
  padding: 50px 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.ventaja {
  margin: 10px;
  width: 450px;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
  font-family: "Inter";
  box-shadow: 5px 5px 10px;
  box-sizing: border-box;
}

.ventaja h3 {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ventaja_icon {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

@media only screen and (max-width: 877px) {
  .why_buy{
    padding: 50px 100px;
  }

  .home_intro{
    height: 500px;
  }

  .home_text{
    font-size: 40px;
    width: 80%;
    padding-left: 50px;
  }

  .why_text{
    width: auto;
  }

  .gotem_home p{
    margin: 0;
  }

  .gotem_home{
    padding-left: 50px;
    padding-right: 50px;
  }

}

@media only screen and (max-width: 450px) {
  .why_buy{
    padding: 50px 50px;
  }
}

@media only screen and (max-width: 700px) {
  .ventaja{
    width: auto;
    height: auto;
  }
}
