<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isLoggedIn">
      <ion-button [routerLink]="['/login']">{{user.email}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home_section">

    <!-- Intro de la web -->
    <div class="home_intro">
      <p class="home_text">
        Steps to exclusivity,
        explore our unique selection of sneakers here.
        <br>
        <label id="go_down" (click)="scrollDown(900)"><i class='bx bx-chevrons-down bx-fade-down'style="font-size: 65px; color: white;"></i></label>
      </p>
    </div>

    <!-- Container del home con las marcas de zapas -->
    <div class="home_images">
      <div class="gotem_home">
        <p>
          From Las Palmas de Gran Canaria to the world, <strong>Got'em is a project developed by university students. </strong> Here you will find exclusive sneakers models from different brands. Take a look at the best selling model and discover others in the sneakers section. Choose the one you like the most and get it.
        </p>
      </div>
    </div>

    <!-- Porque comprar en got'em -->
    <div class="why_text">
      <p>
        We've got what you're looking for
      </p>
    </div>
    <div class="why_buy">
      <div class="ventaja">
        <h3>Exclusive Sneakers
          <img class="ventaja_icon" src="./assets/images/snk.png" alt="">
        </h3>
        <p>Buy, trade and sell your exclusive sneakers, streetwear, and collectables. We always offer fair market pricing and we also offer consortium options.</p>
      </div>
      <div class="ventaja">
        <h3>Fast Delivery
          <img class="ventaja_icon" src="./assets/images/avión.png" alt="">
        </h3>
        <p>Get and enjoy your kicks in no time, with our fast and reliable shipping options. We offer FREE national shipping on orders above 200€.</p>
      </div>
      <div class="ventaja">
        <h3>Already Verified
          <img class="ventaja_icon" src="./assets/images/tick.png" alt="">
        </h3>
        <p>Our expert team uses a multi-step verification procedure that includes condition, quality and packaging, guaranteing each pair is legit.</p>
      </div>
    </div>
  </div>
</ion-content>
