<app-navbar></app-navbar>

<!-- Panel de login -->
<section class="container">
    <div class="wrapper">
        <form action="" class="form" [formGroup]="formReg" (ngSubmit)="onSubmit()">
            <!-- Título del panel -->
            <h1>Login</h1>

            <!-- Input del email -->
            <div class="input_box">
                <input type="text" placeholder="Email" formControlName="email" required >
                <i class='bx bxs-user' ></i>
            </div>

            <!-- Input de password -->
            <div class="input_box">
                <input type="password" placeholder="Password"  formControlName="password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <!-- Recordar u olvidar contraseña -->
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#" onclick="">Forgot password?</a>
            </div>
            
            <!-- Botón de login -->
            <button type="submit" class="btn">Login</button>

            <!-- Link de registro -->
            <div class="register-link">
                <p>Don't have an account?
                    <a href="/register">Register</a>
                </p>
            </div>
        </form>
    </div>
</section>

<app-footer></app-footer>
