@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
}

.about-page {
    width: 100%;
    height: auto;
    margin-bottom: 90px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.welcome {
    width: 100%;
    height: 200px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    font-size: 50px;
    font-weight: 400px;
    font-style: normal;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.first-step {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin:50px 100px;
}

.image1 {
    display: flex;
    justify-content: center;
}

.dunk {
    width: 550px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    filter:contrast(115%);
}

.texto1 {
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.texto01 {
    width: auto;
    margin: 50px;
    align-self: center;
}

.separator {
    width: 70%;
    height: 2px;
    margin-left: 15%;
    margin-right: 15%;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.second-step {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin:50px 100px;
}

.image2 {
    display: flex;
    justify-content: center;
}

.ad {
    width: 550px;
    height: auto;
    border-radius: 10px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
    filter:contrast(115%);
}

.texto2 {
    order: -1;
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.texto02 {
    width: auto;
    margin: 50px;
    align-self: center;
}

@media only screen and (max-width: 977px) {

    .first-step{
        margin: 50px;
    }

    .second-step{
        margin: 50px;
    }
    .texto1{
        margin: 50px 0px;
    }
    .texto2{
        order: 1;
        margin: 50px 0px;
    }

    .texto02{
        margin: 0px;
    }

    .dunk{
        width: 100%;
    }

    .ad{
        width: 100%;
    }

    .texto01{
        margin: 0px;
    }
}