.buy {
    height: 500px;
    display: flex;
    position: relative;
    margin-bottom: 4px;
    justify-content: center;
}

.buy-product {
    width: 450;
    height: 410px;
    top:60px;
    left: 20px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.buy-image {
    width: 400;
    height: 400;
    object-fit: scale-down;
}

.sneaker-name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    margin-top: 20px;
    color: #333;
}

.buy-details {
    top: 230px;
    width: 400px;
    height: 300;
    display: flex;
    position: absolute;
    margin-left: 530px;
    flex-direction: column;
    gap: 6px;
}

.buy-precio {
    align-self: flex-end;}

.add-to-cart {
    color: white;
    background-color: black;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.buy-sizes {
    left: 84px;
    width: 200px;
    bottom: 10px;
    height: 70px;
    display: flex;
    position: absolute;
    margin-left: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.buy-size-1 {
    top: 4px;
    left: 56px;
    position: absolute;
}

.buy-size-2 {
    top: 4px;
    left: 90px;
    position: absolute;
}

.buy-size-3 {
    top: 4px;
    left: 122px;
    position: absolute;
}

.buy-size-11 {
    top: 26px;
    left: 60px;
    position: absolute;
}

.buy-size-21 {
    top: 26px;
    left: 94px;
    position: absolute;
}

.buy-size-31 {
    top: 26px;
    left: 126px;
    position: absolute;
}