.shopping-cart {
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Asegura la disposición en fila */
    align-items: flex-start; /* Alinea los elementos al inicio, útil si tienen diferentes alturas */
    gap: 20px;
}

.title {
    font-weight: 800;
}

.shopping-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.cart-summary h3, .cart-summary h4 {
    font-weight: 400;
}

/* Contenedor de productos con desplazamiento */
.products {
    height: 100%; /* Ajusta la altura según sea necesario */
    width: 40%;
    overflow-y: auto; /* Habilita el desplazamiento vertical para la lista de productos */
    display: flex;
    flex-direction: column;
}
/*
.shopping-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}*/

.shopping-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Espacio entre productos */
}

.products-images {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y los controles del contador */
    justify-content: start; /* Comienza los elementos al inicio del contenedor */
}

.product-image {
    width: 100px; /* Ajusta según necesites */
    height: auto;
    margin-right: 75px; /* Espacio entre la imagen y el contador */
}

/* Estilos para los botones y el valor del contador */
.decrementar, .incrementar, .elim {
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px; /* Ajusta el espaciado entre botones si es necesario */
}

.valor {
    font-size: 16px;
    margin: 0 10px; /* Espacio entre botones de decrementar e incrementar */
}


.counter {
    display: flex;
    align-items: center;
}


.shopping-template {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-details p {
    margin-right: 20px;
}
/*
#decrementar, #incrementar {
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#valor {
    font-size: 16px;
    margin: 0 10px;
}
*/
.cart-summary {
    padding: 20px;
    width: 30%;
    margin-left: 40px;
    height: auto;
    border-left: 2px solid #ccc;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-field input, .form-field select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#credit-card-fields, 
#paypal-fields, 
#bank-transfer-fields {
    display: none; /* Ocultos por defecto */
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #218838;
}
