@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: "Inter";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-col-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.footer-col-contact h4{
    margin-bottom: 20px;
}

.ft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    background-color: black;
    color: white;
    height: 250px;
    width: 100%;
}


.contact-section{
    list-style: none;
    font-size: 16px;
    text-align: center;
}

.contact-section li{
    padding: 5px;
}

.media-section{
    list-style: none;
}

.media-section li{
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 35px;
    color: white;
}

.footer-col-media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;    
}

.footer-col-media-title{
    font-size: 25px;
    margin: 15px;
}

.footer-image{
    width: 220px;
    height: 170px;
}

.media-section li i {
    cursor: pointer;
}

.end{
    height: 70px;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end h4{
    font-size: 16px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
}


