* {
    font-family: "Inter";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background: url(/images/fotos/login_back.webp);
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 500px;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

.wrapper h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.wrapper .input_box {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
}

.input_box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px;
    font-size: 16px;
}

.input_box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: black;
}

@media(max-width: 1600px) {
    .container {
        height: 600px; /* Ajustado para concordar con el estilo general */
    }
    .wrapper {
        width: 400px; /* Más estrecho para pantallas más pequeñas */
    }
    .wrapper h1 {
        font-size: 28px; /* Un poco más pequeño para adaptarse al tamaño del contenedor */
    }
}

@media(max-width: 991px) {
    .container {
        flex-direction: column; /* Cambio en la disposición para pantallas más pequeñas */
        height: auto; /* Altura automática para adaptarse al contenido */
        padding: 20px; /* Agrega padding para evitar que el contenido toque los bordes */
    }
    .wrapper {
        width: 100%; /* Utiliza todo el ancho disponible */
        padding: 20px; /* Ajuste de padding para mantener la coherencia */
    }
    .wrapper .input_box, .wrapper .btn {
        margin-top: 20px; /* Ajuste en el margen superior para espaciado */
        margin-bottom: 20px; /* Ajuste en el margen inferior para espaciado */
    }
}

@media(max-width: 479px) {
    .wrapper {
        border: 1px solid rgba(255, 255, 255, .2); /* Borde más delgado para pantallas pequeñas */
        padding: 15px 20px; /* Padding reducido para maximizar el espacio */
    }
    .wrapper .btn {
        height: 40px; /* Botón más pequeño para ahorrar espacio */
    }
}
