.snk-branchs {
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 50px
}

.logo-img {
    width: auto;
    height: 38px;
    cursor: pointer;
}

.marca-seleccionada {
    border: 2px solid #007bff; /* Cambia el color según tu esquema de diseño */
    box-shadow: 0 0 10px rgba(0,123,255,0.5); /* Sombra ligera */
    transform: scale(1.1); /* Un ligero aumento de tamaño */
    transition: all 0.3s ease; /* Transición suave */
}

.navigation {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem;
}

.models-container {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.model {
    margin-top: 10px;
    width: 90px;
    height: auto;
    cursor: pointer;
    border: none;
    background: #CED4DA;
    color: black;
    border-radius: 2rem;
    transition: background 0.5s, box-shadow 0.3s, transform 0.3s;
}

.model:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.modelo-activo {
    background-color: #000000;
    color: #ffffff;
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.product-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.product-card-sneaker {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.snk-info {
    text-align: center;
    padding: 1rem 0;
}

.product-info .product-name {
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pagination button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background: none;
    color: #000000;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #e2e2e2;
}

.pagination button:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
