
.shopping-cart {
  margin: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Asegura la disposición en fila */
  align-items: flex-start; /* Alinea los elementos al inicio, útil si tienen diferentes alturas */
  gap: 20px;
  font-family: "Inter", sans-serif;

}

.title {
  font-weight: 800;
}

.shopping-info {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 100%;
  height: auto;
  gap: 50px;
}

.cart-summary h3, .cart-summary h4 {
  width: 100%;
  font-weight: 400;
}

.products {
  height: 550px; /* Ajusta la altura según sea necesario */
  width: 700px;
  overflow-y: auto; /* Habilita el desplazamiento vertical para la lista de productos */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
}

.shopping-product {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Espacio entre productos */
}

.products-images {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Alinea verticalmente la imagen y los controles del contador */
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-image {
  height: 200px;
  width: 200px;
  margin-right: 75px; /* Espacio entre la imagen y el contador */
  border-radius: 10px;
}

/* Estilos para los botones y el valor del contador */
.decrementar, .incrementar, .elim {
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px; /* Ajusta el espaciado entre botones si es necesario */
}

.valor {
  font-size: 16px;
  margin: 0 10px; /* Espacio entre botones de decrementar e incrementar */
}


.counter {
  display: flex;
  align-items: center;
  margin: 15px;
}


.shopping-template {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 40px;
  
}

.product-details p, .product-details h4 {
  align-items: center;
  margin: 0;
  padding: 5px;
}

.cart-summary {
  padding: 40px;
  width: 500px;
  height: auto;
  background-color: #e3e3e3;
  border-radius: 10px;
  overflow-y: auto;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #666;
}

.form-field input, .form-field select {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Inter", sans-serif;
}

#credit-card-fields,
#paypal-fields,
#bank-transfer-fields {
  display: none; /* Ocultos por defecto */
}

.payment-info {
  transition: max-height 0.3s ease-in-out; /* Suaviza la transición */
  overflow: hidden; /* Mantiene el contenido oculto si excede el tamaño del contenedor */
  max-height: 0; /* Inicia sin mostrar contenido */
}

.payment-info.expanded {
  max-height: 500px; /* Ajusta según el contenido máximo que puedas tener */
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #218838;
}
