<app-navbar></app-navbar>

<div id="general">
  <!-- Usamos Angular *ngFor para manejar la lista de tallas -->
  <div class="buy-container">
    <div class="img-container">
      <img [src]="imagen" alt="Product Image" id="product_img">
    </div>
    <div class="info-container">
      <div class="info-product">
        <p class="shoe-name" id="shoe-name">{{ nombre }}</p>
        <p class="branch">NIKE</p>
        <p class="details">The Nike Dunk sneakers are a classic silhouette with a modern twist. Featuring a durable leather upper and a cushioned midsole, these sneakers provide comfort and style for everyday wear. The iconic Nike Swoosh logo adorns the sides, while the padded collar and tongue offer added support. Whether you're hitting the streets or just hanging out, these kicks will elevate your look.</p>
        <p class="size">{{ selectedSize }}</p>
      </div>
      <div class="tallas-contenedor">
        <button *ngFor="let talla of tallas" class="btn-talla" (click)="elegirTalla(talla)">
          {{ talla }}
        </button>
      </div>
      <div class="product-footer">
        <p class="price" id="price">{{ 'Price: ' + precio }}</p>
        <button class="add-to-cart">Add to cart</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
