@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 90px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: rgb(0,0,0);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    font-size: 20px;
}

.logo {
    height: 80px;
    width: 100px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}


.nav_links li a{
    transition: all 0.3s ease 0s;
    color: white;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
}

.nav_links li a:hover{
    color: rgba(254, 254, 254, 0.997);
    font-weight: 700;
}

button {
    cursor: pointer;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.cart_logo{
    cursor: pointer;
    margin-right: 30px;
}

.login{
    cursor: pointer;
}

.end_log_cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown{
    display: none;
    margin-right: 30px;
}

#menuList {
    display: none;
}

#menuList.show {
    display: block;
}

#menuDropdown {
    position: relative;
    z-index: 9999;
}

#menuList {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px; /* Ancho del menú desplegable */
    background-color: black; /* Color de fondo */
    border: none;
    border-radius: 5px; /* Borde redondeado */
}

#menuList.show {
    display: block;
}

#menuList li {
    list-style: none; /* Quitar viñetas de la lista */
    padding: 10px; /* Espaciado interno */
}

#menuList li a {
    display: block; /* Hacer enlaces de lista bloque para ocupar todo el ancho */
    text-decoration: none; /* Quitar subrayado de enlaces */
    color: white;
    transition: background-color 0.3s ease; /* Transición de color de fondo */
}

#menuList li a:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón */
}

@media only screen and (max-width: 950px) {
    .nav_links{
        display: none;
    }

    .dropdown{
        display: flex;
    }
    
    
}