<!-- Icons -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<div class="header">
    <!-- Logo de la marca para el navbar -->
    <img src="" alt="" class="logo">

    <!-- Navbar de la web -->
    <nav>
        <ul class="nav_links">

            <!-- Secciones del nav -->
            <li><a id="Home-link" href="">Home</a></li>
            <li><a id="Sneakers-link" href="">Sneakers</a></li>
            <li><a id="Authenticity-link" href="">Authenticity</a></li>
            <li><a id="About-link" href="">About</a></li>
        </ul>
    </nav>

    <!-- Iconos de menú, carrito y de cuenta de usuario -->
    <div class="end_log_cart">
        <div class="dropdown" id="menuDropdown">
            <span><i class='bx bx-menu bx-tada-hover' style="font-size: 35px; color: white;"></i></span>
            <ul id="menuList">
                <li><a id="Home-link" href="">Home</a></li>
                <li><a id="Sneakers-link" href="">Sneakers</a></li>
                <li><a id="Authenticity-link" href="">Authenticity</a></li>
                <li><a id="About-link" href="">About</a></li>
            </ul>
        </div>
        <a class="cart_logo" href=""><i class='bx bx-cart bx-tada-hover' style="font-size: 35px; color: white;"></i></a>
        <a class="login" href=''><i class='bx bx-user bx-tada-hover' style="font-size: 35px; color: white"></i></a>
    </div>
</div>