<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1" style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isLoggedIn">
      <ion-button [routerLink]="['/login']">{{user.email}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none" *ngFor="let favorite of favorites">
      <div class="fav-card">
        <div class="fav-card-img">
            <img src="{{favorite.image}}" style="border-radius: 10px;" alt="">
        </div>
        <div class="fav-card-name">
          <h1>{{favorite.name}}</h1>
          <h2>{{favorite.price+'€'}}</h2>
          <p>{{favorite.description}}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
