<!-- Icons -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<div class="header">
    <!-- Logo de la marca para el navbar -->
    <img src="../../../assets/Logo.jpg" alt="" class="logo">

    <!-- Navbar de la web -->
    <nav>
        <ul class="nav_links">
            <!-- Secciones del nav -->
            <li><a id="Home-link" href="/home">Home</a></li>
            <li><a id="Sneakers-link" href="/sneakers">Sneakers</a></li>
            <li><a id="Authenticity-link" href="/authenticity">Authenticity</a></li>
            <li><a id="About-link" href="/about">About</a></li>
        </ul>
    </nav> 

    <!-- Iconos de menú, carrito y de cuenta de usuario -->
    <div class="end_log_cart">
        <div class="dropdown" id="menuDropdown">
            <span (click)="toggleMenu()">
                <i class='bx bx-menu bx-tada-hover' style="font-size: 25px; color: white;"></i>
            </span>
            <ul [class.show]="menuVisible" id="menuList">
                <li><a id="Home-link" href="/home">Home</a></li>
                <li><a id="Sneakers-link" href="/sneakers">Sneakers</a></li>
                <li><a id="Authenticity-link" href="/authenticity">Authenticity</a></li>
                <li><a id="About-link" href="/about">About</a></li>
            </ul>
        </div>

        <a class="cart_logo" href="/cart"><i class='bx bx-cart bx-tada-hover' style="font-size: 30px; color: white;"></i></a>
        <a class="login" href="/login"><i class='bx bx-user bx-tada-hover' style="font-size: 30px; color: white"></i></a>
    </div>
</div>
