@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: rgb(0, 0, 0); /* Color de fondo del encabezado */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 70px;
    width: 100px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: color 0.3s ease, font-weight 0.3s ease;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #e0e0e0; /* Color más claro al pasar el ratón */
    font-weight: 700;
}

button {
    cursor: pointer;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.cart_logo {
    cursor: pointer;
    margin-right: 30px;
}

.login {
    cursor: pointer;
}

.end_log_cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: none;
    margin-right: 30px;
}

#menuDropdown {
    position: relative;
    z-index: 9999;
}

#menuList {
    display: none;
    position: absolute;
    top: 100%; /* Posición justo debajo del elemento 'menuDropdown' */
    left: 0;
    width: 150px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#menuList.show {
    display: block;
}

#menuList li {
    padding: 10px;
}

#menuList li a {
    color: white;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#menuList li a:hover {
    background-color: #333333;
}

@media only screen and (max-width: 950px) {
    .nav_links {
        display: none;
    }

    .dropdown {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
    }

    .end_log_cart {
        width: 100%;
        justify-content: flex-end;
    }

    .dropdown span {
        display: block;
    }
}
